<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAppLMI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.explore.DetailSearchExploreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.DetailMitraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.DetailEdukasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.DetailInspirasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.DetailProgramActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.DetailBeritaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.DetailBannersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.majalah.DetailMajalahActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>